@tailwind components;

@layer components {
  .loader-wapper {
    @apply h-[160px] flex items-center justify-center;
    .loader {
      @apply w-[8px] h-[40px] my-[20px] mx-auto relative rounded-full animate-loader before:animate-loader after:animate-loader bg-backgroundDark dark:bg-primary
      after:w-[8px] after:h-[40px] after:rounded-full after:absolute after:top-[50%] after:transform after:-translate-y-[50%] after:bg-backgroundDark after:content-[''] after:dark:bg-primary after:left-[20px]
      before:w-[8px] before:h-[40px] before:rounded-full before:absolute before:top-[50%] before:transform before:-translate-y-[50%] before:bg-backgroundDark before:content-[''] before:dark:bg-primary before:-left-[20px];
    }
    .loader::after {
      animation-delay: 0.6s;
    }

    .loader::before {
      animation-delay: 0.3s;
    }
  }
}
