@tailwind components;

@layer components {
  .loader-wapper {
    @apply h-[160px] flex items-center justify-center;
    .loader {
      @apply w-[8px] h-[40px] my-[20px] mx-auto relative rounded-full animate-loader before:animate-loader after:animate-loader bg-backgroundDark dark:bg-primary
      after:w-[8px] after:h-[40px] after:rounded-full after:absolute after:top-[50%] after:transform after:-translate-y-[50%] after:bg-backgroundDark after:content-[''] after:dark:bg-primary after:left-[20px]
      before:w-[8px] before:h-[40px] before:rounded-full before:absolute before:top-[50%] before:transform before:-translate-y-[50%] before:bg-backgroundDark before:content-[''] before:dark:bg-primary before:-left-[20px];
    }
    .loader::after {
      animation-delay: 0.6s;
    }

    .loader::before {
      animation-delay: 0.3s;
    }
  }

  .loader-ripple {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background: #ddd;
    div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      :nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }
  @keyframes loader-ripple {
    0% {
      top: 12px;
      left: 12px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 12px;
      left: 12px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 12px;
      left: 12px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 24px;
      height: 24px;
      opacity: 0;
    }
  }
}
