@tailwind components;

@layer components {
  .editor-wapper {
    border: 0.5px solid;
    @apply w-full mb-2 border border-border rounded-2xl bg-white shadow-lg
    dark:bg-primaryDark dark:border-borderDark dark:shadow-none;
    .editor-content {
      @apply p-2;
      .editor-imgs-previewer {
        @apply px-2;
      }
    }

    .editor-bot {
      @apply px-4 py-2 border-t border-border dark:border-borderDark;
      &__text {
        @apply mb-2 pl-2;
        .error-msg {
          margin: unset;
        }
      }
      &__btns {
        @apply flex items-center justify-between;
        .other-btns {
          @apply flex gap-2;
        }
      }
    }
  }
  svg {
    @apply w-4 h-4;
  }
  .add-emoji-btn {
    @apply relative;
    .emoji-popup {
      @apply absolute bottom-[calc(42px+0.5rem)] z-50;
      &.left {
        @apply right-0;
      }
      &.right {
        @apply left-0;
      }
    }
  }
}
