@tailwind components;

@layer components {
  .article-list {
    .list {
      border: 0.5px solid;
      @apply flex flex-col bg-white shadow-lg rounded-2xl border-border
      dark:bg-primaryDark dark:border-borderDark;
      .article-item {
        border-bottom: 1px solid;
        @apply flex gap-2 lg:gap-4 p-4 border-border dark:border-borderDark;
        &__title {
          @apply font-primary text-xl lg:text-lg dark:text-primary hover:underline;
        }
        &__user {
          @apply flex justify-between items-center;
        }
        &__description {
          @apply w-full text-text leading-6
          dark:text-textDark;
        }
        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
        &:last-child {
          border-bottom: unset;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
        .article-date {
          time {
            display: inline-block;
            text-transform: lowercase;
            &:first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
      .article-item.desktop {
        @apply flex-row;
        div.left {
          @apply flex justify-center items-center;
          .article-item__content-img {
            @apply w-[200px] h-[150px] rounded-lg object-cover;
          }
        }
        div.right {
          @apply flex flex-1 flex-col gap-2 px-2;
        }
      }
      .article-item.mobile {
        @apply flex-col;
        .article-item__content {
          @apply flex gap-3;
          &-img {
            @apply w-[120px] h-[4.5rem] aspect-auto rounded-lg object-cover;
          }
        }
      }
    }
  }
  .article-categories {
    @apply flex items-center gap-4 flex-wrap;
    .item {
      @apply bg-background text-text border rounded-full py-1 px-2 text-xs cursor-pointer
      hover:text-primary hover:border-primary
      dark:bg-backgroundDark dark:text-textDark dark:hover:text-primary;
    }
  }
  .article-details {
    .header-title {
      @apply text-3xl;
    }
    &-top {
      @apply flex items-center justify-between gap-8 mt-2 mb-8 px-4;
    }
    &-body {
      @apply px-4;
      .article-desc {
        @apply mb-8;
      }
      .article-img {
        @apply mb-8 rounded-2xl w-full;
      }
      .article-content {
        @apply mb-8;
      }
    }
  }
}
