@tailwind components;

@layer components {
  .article-list {
    .list {
      border: 0.5px solid #ddd;
      @apply flex flex-col mt-4 mb-4 bg-white shadow-lg rounded-2xl
      dark:bg-primaryDark;

      .article-item {
        border-bottom: 1px solid #ddd;
        @apply flex gap-2 lg:gap-4 p-4 flex-col lg:flex-row;
        img.left {
          @apply w-full lg:w-[150px] md:h-fit lg:mt-4 lg:ml-4 object-contain;
        }
        div.right {
          @apply flex flex-col gap-2 lg:gap-4 px-2;
          .title {
            @apply dark:text-primary hover:underline;
          }
          .user {
            @apply flex justify-between items-center;
          }
          .content {
            @apply w-full mb-4 overflow-hidden text-ellipsis
            dark:text-textDark;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
          .date {
            @apply text-xs dark:text-textDark;
          }
        }
        &:first-child {
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
        &:last-child {
          border-bottom: unset;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
        .article-date {
          time {
            display: inline-block;
            text-transform: lowercase;
            &:first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .article-categories {
    @apply flex items-center gap-4;
    .item {
      @apply bg-background text-text border rounded-full py-1 px-2 text-xs cursor-pointer
      hover:text-primary hover:border-primary
      dark:bg-backgroundDark dark:text-textDark dark:hover:text-primary;
    }
  }
  .article-details {
    &-top {
      @apply flex items-center gap-8 mt-2 mb-8;
    }
    &-content {
      .article-img {
        @apply mb-8;
      }
     }
  }
}
