@tailwind components;

@layer components {
  // user header
  .user-info-header {
    &-sm {
      @apply flex items-center justify-between gap-4;
      .user-content {
        @apply flex items-center gap-2;
        .link {
          @apply overflow-hidden text-ellipsis hover:text-primary
          dark:text-textDark dark:hover:text-primary;
        }
      }
      .article-num {
        @apply bg-primary rounded-full w-6 h-6 text-center grid place-items-center text-text text-xs font-medium;
      }
    }
    &-lg {
      @apply flex md:h-[120px] pt-2 relative;
      .user-avatar {
        @apply absolute left-[calc(50%-4.5rem)] md:left-4 -top-24 w-32 h-32 md:w-48 md:h-48 rounded-full flex items-center justify-center overflow-hidden bg-white;
        img {
          @apply w-[96%] h-[96%] object-cover rounded-full indent-[10000px];
        }
      }
      .title {
        @apply text-black mt-8 mb-6 ml-0 w-full text-center text-4xl
        md:m-auto md:ml-60 md:w-fit md:text-left
        dark:text-textDark;
      }
    }
    &-normal {
      @apply flex flex-col gap-4;
      .avatar {
        @apply w-20 h-20;
      }
      .link.title {
        @apply text-primary mb-4;
      }
    }
  }
  // user info popup
  .user-info-popup {
    &-content {
      @apply hidden xl:flex min-w-[120px] w-[200px] items-center justify-end mx-4 cursor-pointer;
      .text {
        @apply py-2 px-4 rounded-lg hover:text-primary hover:bg-background
        dark:hover:bg-accentDark dark:text-textDark;
      }
      .user-info {
        @apply flex items-center justify-center min-w-[120px] max-w-[200px] py-2 px-4 rounded-lg gap-2 dark:hover:bg-accentDark text-text dark:text-textDark;
        .user-icon {
          @apply text-lg grid place-items-center;
        }
        .username {
          @apply leading-6 overflow-hidden text-ellipsis whitespace-nowrap hover:underline underline-offset-2;
        }
      }
    }
    &-wapper {
      @apply border rounded-2xl border-border bg-white
      dark:border-borderDark dark:bg-primaryDark;
      .top {
        @apply flex flex-col p-4 items-center gap-4;
        .avatar {
          @apply w-16 h-16;
        }
        .text {
          @apply flex flex-col gap-1 w-full;
          p {
            @apply overflow-hidden text-ellipsis;
          }
          .username {
            @apply text-base text-text font-bold dark:text-textDark;
          }
          .email {
            @apply text-sm text-gray-500 dark:text-gray-300;
          }
        }
      }
      .btns {
        @apply text-sm border-t border-b border-border dark:border-borderDark;
        ul {
          @apply w-full divide-y divide-border dark:divide-borderDark;
          li {
            @apply hover:bg-primary py-2 pl-6 cursor-pointer flex items-center gap-3 dark:text-textDark dark:hover:text-black;
          }
        }
      }
      .signout {
        @apply flex justify-center py-2 px-4;
        button.sign-out-btn {
          @apply w-full rounded-full border hover:border-borderDark;
        }
      }
    }
  }
  // top user list
  .user-list {
    @apply relative;
    &-content {
      @apply flex flex-col gap-4 min-h-[300px];
    }
    &-bottom {
      @apply absolute bottom-0 w-full;
      &.gy-pagination {
        @apply py-0;
      }
    }
  }
}
