@tailwind components;

@layer components {
  .moments {
    &-btns {
      @apply flex mb-2;
      .grid-list-btn {
        @apply ml-auto;
      }
    }
  }
  .moment-list {
    border: 0.5px solid;
    @apply mt-2 mb-4 bg-white shadow-lg rounded-2xl border-border
    dark:bg-primaryDark dark:border-borderDark;
    &__content {
      &.list-layout {
        @apply flex flex-col;
      }
      &.grid-layout {
        .moment-item-card > .content {
          @apply hover:underline cursor-pointer;
        }
      }
    }
  }
  .moment-item {
    border-bottom: 1px solid;
    @apply flex gap-2 lg:gap-4 p-4 flex-col border-border dark:border-borderDark;
    .user {
      @apply flex justify-between items-center;
    }
    .content {
      @apply w-full dark:text-textDark;
    }
    .imgs {
      @apply flex items-center gap-2;
      img {
        @apply w-[110px] h-[110px] object-cover rounded-lg;
      }
    }
    &:first-child {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    &:last-child {
      border-bottom: unset;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
    .moment-date {
      time {
        display: inline-block;
        text-transform: lowercase;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  .moment-item-card {
    @apply w-full h-fit p-1;
    &__imgs {
      @apply mb-2;
    }
    .content {
      @apply w-full mb-4 dark:text-textDark;
      line-height: 1.5rem;
    }
    .user {
      @apply flex justify-between items-center my-2;
    }
    .modal.moment-modal {
      @apply w-[600px] h-[600px] overflow-y-scroll p-4 bg-white dark:bg-backgroundDark;
      .user {
        @apply mb-4;
      }
      .actions {
        @apply px-2;
      }
    }
  }
  .moment-comment-editor {
    @apply p-2;
    .moment-comment-input {
      @apply flex gap-4;
      form {
        @apply flex-1;
        .btns {
          @apply flex my-2;
          .icon-btns {
            @apply flex;
          }
          .post-btn {
            @apply ml-auto;
          }
        }
      }
    }
  }
}
