@tailwind components;

@layer components {
  .action-box-btns {
    @apply flex items-center gap-x-4 mb-2;
  }

  .action-btn {
    @apply flex gap-1;
    span.count {
      @apply leading-[22px] text-[14px] text-text dark:text-textDark;
    }
    svg {
      @apply w-6 h-6;
    }
    &.inactive {
      button {
        cursor: unset;
      }
    }
  }

  .action-flow-box {
    @apply sticky flex justify-center items-center mb-2 bottom-6;
    .btns {
      @apply flex items-center gap-x-4 p-4 px-8 border border-border rounded-full bg-white shadow-lg
      dark:bg-primaryDark dark:border-borderDark dark:shadow-none;
    }
  }

  .comments-list {
    @apply border border-border p-4 rounded-2xl shadow-sm mb-4
    dark:shadow-none dark:border-borderDark;
    h2.title {
      @apply mb-4;
    }
    .comments-content {
      @apply flex flex-col gap-2;
      .comments-item {
        @apply flex flex-col px-4 py-2 border-b-[1px] last:border-b-0 border-border dark:border-borderDark;
        .user {
          @apply flex items-center mb-4;
          &-wapper {
            @apply flex items-center mr-auto;
            .reply-label {
              @apply mx-4 text-xs px-[6px] py-1 dark:text-text text-text rounded-lg dark:bg-background bg-primary;
            }
          }
        }
        .reply-content {
          @apply flex items-start gap-2 mb-4 p-4 rounded-lg bg-gray-100 text-text dark:bg-accentDark dark:text-textDark;
          &-user {
            @apply flex items-center gap-1;
            .line {
              @apply w-[3px] h-[32px] mr-3 rounded-full bg-borderDark dark:bg-border;
            }
          }
          &-details {
            @apply truncate flex-1 leading-[32px];
          }
        }
        .content {
          @apply px-4 text-text dark:text-textDark mb-4 break-words;
        }
      }
    }
  }
  .comment-editor {
    @apply p-2;
    .comment-input {
      @apply flex gap-4;
      form {
        @apply flex-1;
        .btns {
          @apply flex my-2;
          .icon-btns {
            @apply flex;
          }
          .post-btn {
            @apply ml-auto;
          }
        }
      }
    }
  }

  .show-more-btn {
    @apply mr-auto my-2;
  }

  .title {
    @apply text-text dark:text-primary;
  }

  .error-msg {
    @apply text-error;
  }
}
